<html>
<head>
	<link rel="stylesheet" type="text/css" href="litegraph.css">
	<script type="text/javascript" src="litegraph.js"></script>
</head>
<body>
<canvas id='mycanvas'></canvas>
</body>
<style>
body, html {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
}

#node-panel {
	display: none;
}

</style>
<script>
let can = document.getElementById("mycanvas");
can.width = window.innerWidth;
can.height = window.innerHeight;

let basic_const = LiteGraph.Nodes.ConstantNumber;
let basic_watch = LiteGraph.Nodes.Watch;
LiteGraph.clearRegisteredTypes();

LiteGraph.registerNodeType("basic/const", basic_const);
LiteGraph.registerNodeType("basic/watch", basic_watch);
var graph = new LGraph({ allow_interaction: false });
var canvas = new LGraphCanvas("#mycanvas", graph);
canvas.allow_searchbox = false;
canvas.prompt = (title,value,callback,event)=>{ return null; };
canvas.always_render_background = false;
canvas.showEditPropertyValue = function () {}

var node_const = LiteGraph.createNode("basic/const");
node_const.pos = [200,200];
graph.add(node_const);
node_const.setValue(4.5);

var node_watch = LiteGraph.createNode("basic/watch");
node_watch.pos = [700,200];
graph.add(node_watch);

node_const.connect(0, node_watch, 0 );
graph.start()
</script>

</html>
